.App {
  height: 800px;
    width: 650px;
    outline: 1px solid rgb(10, 13, 202);
    border-radius: 10px;
    
    padding: 0;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    color: white;
}

#screen {
  outline: 1px solid;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  height: 12%;
  text-align: right;
  color: white;
}

.calc {
  
  margin-right: 5px;
  height: 20%;
  color: white;
}


#ac {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  color: white;
}

.btn {
  height: 100%;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  font-size: 45px;
  cursor: pointer;
  color: white;
}

#input {
  margin: 25px 15px 0 15px;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}


.delete {
  height: 100%;
  width: 100%;
  font-size: 28px;
  color: white;
 
}

.child {
  height: 100%;
  width: 45%;
  margin: 0 auto;
  
}

/*:disabled {
  background-color: white;
  opacity: 1;
} */

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: auto;
}